<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/app.css">  
  <title>Past Work Show Page</title>
</head>
<body>
  <%- include('./partials/nav') %>
  <h1><%= item.title %></h1>
  <p>Summary: <%= item.summary %> </p>
  <p>Airdate: <%= item.year %> <br />
     reference: <a href="<%= item.link %>"><%= item.title %></a></p>

</body>
</html>

